<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <link rel="stylesheet" href="/static/css/header-style.css">
    <link rel="stylesheet" href="/static/css/header-index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>디자이너 주얼리 NOONEE</title>
</head>
<body>
    <header>
        <div class="section">
            <div class="section-all">
                <div class="section-logo">
                    <span></span>
                    <img class="main-logo" src="https://cdn.imweb.me/thumbnail/20220806/fb776d8fb5424.png" width="118" style="max-width: 100%; height:auto;"> 
                </div>
                <div class="section-menu" style="visibility: visible;">
                    <nav class="menu-list">
                        <ul>
                            <button class="brand-btn">BRAND</button>
                            <li class="drop-menu" role="menu"></li>
                        </ul>
                        <ul>
                            <button class="menu-btn">BRIDAL</button>
                            <li class="drop-menu" role="menu"></li>
                        </ul>
                        <ul>
                            <button class="menu-btn">COLLECTION</button>
                            <li class="drop-menu" role="menu"></li>
                        </ul>
                        <ul>
                            <button class="menu-btn">FASHION</button>
                            <li class="drop-menu" role="menu"></li>
                        </ul>
                        <ul>
                            <button class="menu-btn">Q&A</button>
                            <li class="drop-menu" role="menu"></li>
                        </ul>
                        <ul>
                            <button class="menu-btn">CUSTOMER</button>
                            <li class="drop-menu" role="menu"></li>
                        </ul>
                    </nav>
                </div>
                <div class="section-right" style="width: 282px;">
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div>
                        <span>LOGIN</span>
                    </div> 
                    <div>
                        <span>JOIN</span>
                    </div>               
                    <div class="shopping">
                        <i class="fa-solid fa-bag-shopping"></i>
                    </div>               
                    <div class="translation">
                        <img src="/src/main/resources/static/img/flag_kr_square.png" width="23px" style="border: 1px solid rgba(128,128,128,0.2)">
                        <span class="korea">한국어</span>
                        <i class="fa-solid fa-caret-down" id="down-icon"></i>
                    </div>               
                </div>
            </div>
        </div>
    </header>
</body>
</html>